# The problem 

- Find the value of one year contract demand for each indrustry unit of Brazil group A (the group who needs demand contract)

## Electrical Demand

### Consume

    In Brazil the industry group needs to deal with a different bill fee the electrical demand. You can easily know how electrical consume works: if you light a lamp that power is 100W witch means that it will comsume 100W/h (watts per hour) it means that each hour that pass with you lamp turn on you should consume 100W. If you use the lamp 8 hours a day and 30 days a month you should consume 8*30*100W = 24000W or 24kW per month just with this lamp.

### Demand
    The demand is some of power in a fraction of time, and we usually takes the maximum demand of a month. In ohter words, our house only have 8 of this 100W/h lamps, if along the month we only light a maximum of 4 lamps at the same time the demand that we need by the power genataror is 400W. If along that month for just one second I light all the 8 lamps you demand for this month will them be 800W.

# Why there is a annual contract and how its works?

Electricity distribution companies needs to know how much energy your company will demand, its a logistical problem. Then you make a contract that will works for a year, for exemplo a made a 100kW demand contract:

    - if you demand was 100kW or few, you will pay 100kW demand this month
    - if you demand was above 100kW you will pay a 3 times (3x) fee for each demand you passed
        * exemple you demand consuption this month was 120kW, you pay 100kW + (20*3)kW = 160kW 
        


# Congratulation, this is all we need to know to start to work

In [1]:
import pandas as pd
!pip install openpyxl # to use read_excel

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 291 kB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
df = pd.read_csv("../input/water-company-brazil/WCEB.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (62,63,64,65) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Data Analysis and extraction

In [3]:
pd.set_option('display.max_columns', None)
df.head()

# the dataframe have almost 200000 lines but not all of it is from the group A, we need to get
# it tought

,F_MATRICULA,F_MES,F_ANO,F_REGIONAL,F_CIDADE,F_CODFORNEC,F_REFERENCIA,F_VEN_FATURA,F_COD_FATURA,F_KWH_TF,F_KWH_PF,F_KWH_FPF,F_KVARH_RR,F_KVARH_RPR,F_KVARH_RFPR,F_KW_DTR,F_KW_DPR,F_KW_DFPR,F_KW_DTF,F_KW_DPF,F_KW_DFPF,F_KW_DPC,F_KW_DFPC,F_KW_DTU,F_KW_DPU,F_KW_DFPU,F_MED_ATIVO,F_MED_REATIVO,F_FPR,F_FPPR,F_FPFPR,F_FCR,F_FCPR,F_FCFPR,F_CER,F_VAL_CON,F_VAL_CON_P,F_VAL_CON_FP,F_VAL_UDT,F_VAL_UDP,F_VAL_UDFP,F_VAL_ICMS,F_VAL_TIP,F_VAL_PIS,F_VAL_COFINS,F_VAL_D,F_VAL_DP,F_VAL_DFP,F_VAL_EER,F_VAL_EERP,F_VAL_EERFP,F_VAL_EDR,F_VAL_EDRP,F_VAL_EDRFP,F_VAL_TAXAS,F_VAL_MULTA,F_VAL_JUROS,F_VAL_TP,TENSAO,FPMEDIO,FCMEDIO,CODIGO_DVENC,F_TIPO_UNIDADE,F_CENTROCUSTO,F_CONTAAUX,F_UNIDNEGOCIO,F_FINALIDADE,F_TARIFACAO,F_VAL_BAND_TARIF,F_VAL_DEVOL,F_TIPO_LIGACAO,F_GRUPO_LEITURA
0,1146,3,2003,1,146,1,NaN,NaN,NaN,16848.0,1512.0,15336.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2624.83,4,NaN,NaN,9,NaN,NaN,NaN,NaN,'24',4.0,NaN,NaN,NaN,NaN
1,1146,4,2003,1,146,1,NaN,NaN,NaN,18000.0,1656.0,16344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2808.94,4,NaN,NaN,12,NaN,NaN,NaN,NaN,'24',4.0,NaN,NaN,NaN,NaN
2,1146,5,2003,1,146,1,NaN,NaN,NaN,19008.0,1440.0,17568.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2955.19,4,NaN,NaN,15,NaN,NaN,NaN,NaN,'24',4.0,NaN,NaN,NaN,NaN
3,1146,6,2003,1,146,1,NaN,NaN,NaN,16632.0,1440.0,15192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2581.10,4,NaN,NaN,18,NaN,NaN,NaN,NaN,'24',4.0,NaN,NaN,NaN,NaN
4,1146,7,2003,1,146,1,NaN,NaN,NaN,23904.0,2088.0,21816.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3859.28,4,NaN,NaN,21,NaN,NaN,NaN,NaN,'24',4.0,NaN,NaN,NaN,NaN

In [4]:
groupA = pd.read_excel("../input/water-company-brazil/cadastro uc.xlsx")

the UC column has the Consume Unites of group A

In [5]:
groupA.head()

        UC
0  9980570
1  9980574
2  9980235
3  9980816
4  9998244

the isin will help us to get only the group A on the main data frame with this single line

In [6]:
df=df[df["F_MATRICULA"].isin(groupA["UC"])]

reseting the index we now have 30000 lines and a new column called index if needed future reference

In [7]:
df.reset_index()

,index,F_MATRICULA,F_MES,F_ANO,F_REGIONAL,F_CIDADE,F_CODFORNEC,F_REFERENCIA,F_VEN_FATURA,F_COD_FATURA,F_KWH_TF,F_KWH_PF,F_KWH_FPF,F_KVARH_RR,F_KVARH_RPR,F_KVARH_RFPR,F_KW_DTR,F_KW_DPR,F_KW_DFPR,F_KW_DTF,F_KW_DPF,F_KW_DFPF,F_KW_DPC,F_KW_DFPC,F_KW_DTU,F_KW_DPU,F_KW_DFPU,F_MED_ATIVO,F_MED_REATIVO,F_FPR,F_FPPR,F_FPFPR,F_FCR,F_FCPR,F_FCFPR,F_CER,F_VAL_CON,F_VAL_CON_P,F_VAL_CON_FP,F_VAL_UDT,F_VAL_UDP,F_VAL_UDFP,F_VAL_ICMS,F_VAL_TIP,F_VAL_PIS,F_VAL_COFINS,F_VAL_D,F_VAL_DP,F_VAL_DFP,F_VAL_EER,F_VAL_EERP,F_VAL_EERFP,F_VAL_EDR,F_VAL_EDRP,F_VAL_EDRFP,F_VAL_TAXAS,F_VAL_MULTA,F_VAL_JUROS,F_VAL_TP,TENSAO,FPMEDIO,FCMEDIO,CODIGO_DVENC,F_TIPO_UNIDADE,F_CENTROCUSTO,F_CONTAAUX,F_UNIDNEGOCIO,F_FINALIDADE,F_TARIFACAO,F_VAL_BAND_TARIF,F_VAL_DEVOL,F_TIPO_LIGACAO,F_GRUPO_LEITURA
0,562,63458,1,2003,2,82,2,NaN,NaN,NaN,6139.75,0.00,0.00,NaN,NaN,NaN,65.19,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'57000697',NaN,0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.27,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,1091.76,2,NaN,NaN,2,NaN,NaN,NaN,NaN,'01',2.0,NaN,NaN,NaN,NaN
1,563,63458,2,2003,2,82,2,NaN,NaN,NaN,24477.00,NaN,NaN,NaN,NaN,NaN,80.77,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'57000697',NaN,0.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.76,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,4992.48,2,NaN,NaN,5,NaN,NaN,NaN,NaN,'01',2.0,NaN,NaN,NaN,NaN
2,564,63458,3,2003,2,82,2,NaN,NaN,NaN,6437.00,0.00,0.00,NaN,NaN,NaN,64.37,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'57000697',NaN,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.88,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,1397.28,2,NaN,NaN,7,NaN,NaN,NaN,NaN,'01',2.0,NaN,NaN,NaN,NaN
3,565,63458,4,2003,2,82,2,NaN,NaN,NaN,7380.00,0.00,0.00,NaN,NaN,NaN,64.78,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'57000697',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.96,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,1544.19,2,NaN,NaN,11,NaN,NaN,NaN,NaN,'01',2.0,NaN,NaN,NaN,NaN
4,566,63458,5,2003,2,82,2,NaN,NaN,NaN,6877.75,0.00,0.00,NaN,NaN,NaN,65.19,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'57000697',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191.68,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,1468.73,2,NaN,NaN,14,NaN,NaN,NaN,NaN,'01',2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29859,173173,9980491,5,2019,3,53,1,'052019','11/06/2019',702.0,0.00,4055.99,44876.16,0.0,0.0,0.0,0.00,107.45,110.89,0.0,110.89,110.89,100.0,100.0,0.0,852.28,10.89,'00001115811','00001115811',0.00,1.0,1.0,0.00,0.07,0.72,NaN,15937.89,1924.86,14013.03,0.0,7.45,416.86,0.0,78.62,291.80,1344.03,7027.28,5224.21,1803.07,191.83,22.63,169.20,4.80,3.34,1.46,0.0,0.0,NaN,22171.27,4,1.0,0.40,1124,'P','1.49.02000','3053','001','02',4.0,NaN,NaN,NaN,NaN
29860,173174,9980619,5,2019,2,35,1,'052019','11/06/2019',702.0,0.00,2563.00,18706.00,0.0,0.0,0.0,0.00,45.61,45.61,0.0,75.00,75.00,75.0,75.0,0.0,0.00,0.00,'00008514117','00008514117',0.00,1.0,1.0,0.00,0.05,0.34,NaN,5984.73,1031.45,4953.28,0.0,0.00,0.00,0.0,314.48,138.22,636.68,4865.98,3646.49,1219.49,718.02,110.46,607.56,0.00,0.00,0.00,0.0,0.0,NaN,12658.12,4,1.0,0.20,1124,'P','1.49.04000','2035','001','25',4.0,NaN,NaN,NaN,NaN
29861,173175,9980841,5,2019,1,1,1,'052019','11/06/2019',702.0,0.00,2973.00,29520.00,0.0,0.0,0.0,101.48,0.00,0.00,110.0,0.00,0.00,0.0,110.0,0.0,0.00,0.00,'00008373838','00008373838',0.00,1.0,1.0,0.37,0.00,0.00,NaN,12497.89,4681.10,7816.79,0.0,0.00,0.00,0.0,1057.43,178.03,820.01,1788.59,0.00,1788.59,566.06,68.97,497.09,0.00,0.00,0.00,0.0,0.0,NaN,16908.00,5,1.0,0.00,1124,'P','1.49.05000','1001','002','04',5.0,NaN,NaN,NaN,NaN
29862,173176,9980862,5,2019,1,1,1,'052019','11/06/2019',702.0,0.00,3977.00,37023.00,0.0,0.0,0.0,0.00,70.52,70.52,0.0,70.52,70.52,70.0,70.0,0.0,0.00,0.00,'00008621970','00008621970',0.00,1.0,1.0,0.00,0.08,0.72,NaN,11404.06,1600.49,9803.57,0.0,0.00,0.00,0.0,964.88,207.78,957.04,4575.33,3428.68,1146.65,1137.79,132.55,1005.24,345.28,172.64,172.64,0.0,0.0,NaN,19592.14,4,1.0,0.40,1124,'P','1.49.04000','1001','001','22',4.0,NaN,NaN,NaN,NaN
29863,173177,9981389,5,2019,1,12,1,'052019','11/06/2019',702.0,0.00,2237.00,22711.00,0.0,0.0,0.0,0.00,48.15,47.94,0.0,47.94,47.94,45.0,45.0,0.0,360.35,2.94,'00001115437','00001115437',0.00,1.0,1.0,0.00,0.07,0.69,NaN,6914.04,900.25,6013.79,0.0,3.15,112.54,0.0,0.00,130.68,601.93,3120.55,2341.05,779.50,447.52,47.15,400.37,29.49,4.79,24.70,0.0,0.0,NaN,11717.08,4,1.0,0.38,1124,'P','1.49.04000','1012','001','01',4.0,NaN,NaN,NaN,NaN

now we need to know what each column talks about, lets get a csv file that will help us

In [8]:
legend_info = pd.read_csv("../input/water-company-brazil/Traslated Legends.csv")

In [9]:
legend_info

           column                                             Legend
0        F_KWH_TF             Total Billed Active Energy Consumption
1        F_KWH_PF            Active Energy Consumption Billed Point.
2       F_KWH_FPF         Billed Off-peak Active Energy Consumption.
3      F_KVARH_RR                  Total Reactive Energy Consumption
4     F_KVARH_RPR         Consumption Reactive Energy Registered End
5    F_KVARH_RFPR               Off-peak Reactive Energy Consumption
6        F_KW_DTR                           Total Registered Demand.
7        F_KW_DPR                           Demand Point Registered.
8       F_KW_DFPR                         Registered Off-End Demand.
9        F_KW_DTF                           In Demand Total Invoice.
10       F_KW_DPF                             Demanda Ponta Invoice.
11      F_KW_DFPF                     In Demanda Fora-Ponta Invoice.
12       F_KW_DPC                           Demand Point Contracted.
13      F_KW_DFPC                         Contracted Off-End Demand.
14       F_KW_DTU                              Total Demand Exceeded
15       F_KW_DPU                               Peak Demand Exceeded
16      F_KW_DFPU                            Exceeded Off-End Demand
17    F_MED_ATIVO                                Active Meter Number
18  F_MED_REATIVO                              Reactive Meter Number
19          F_FPR                           Power Factor Registered.
20         F_FPPR                       Registered Tip Power Factor.
21        F_FPFPR                  Registered Off-Peak Power Factor.
22          F_FCR                            Registered Load Factor.
23         F_FCPR                       Registered Peak Load Factor.
24        F_FCFPR                    Registered Off-End Load Factor.
25          F_CER                      Average Recorded Energy Cost.
26      F_VAL_CON                             Consumption Net Value.
27    F_VAL_CON_P                        Net Value Peak Consumption.
28   F_VAL_CON_FP                    Net Value Off-peak Consumption.
29      F_VAL_UDT                   Net Value Exceeded Total Demand.
30      F_VAL_UDP                         Net Value Demand Exceeding
31     F_VAL_UDFP                         Net Value Demand Exceeding
32     F_VAL_ICMS                                    ICMS Net Value.
33      F_VAL_TIP                     Net Value Public Lighting Fee.
34      F_VAL_PIS                                     PIS Net Value.
35   F_VAL_COFINS                                  COFINS Net Value.
36        F_VAL_D                               Liquid Value Demand.
37       F_VAL_DP                             Net Value Peak Demand.
38      F_VAL_DFP                         Net Value Off-Peer Demand.
39      F_VAL_EER                       Net Amount Spent with Excess
40     F_VAL_EERP  Net Value Spent with Excess Reactive Power Point.
41    F_VAL_EERFP  Net Amount Spent on Excess Off-Side Reactive E...
42      F_VAL_EDR        Net Amount Spent on Excess Reactive Demand.
43     F_VAL_EDRP  Net Amount Spent with Excess Reactive Demand P...
44    F_VAL_EDRFP  Net Amount Spent on Excess Off-Side Reactive D...
45    F_VAL_TAXAS                                    Net Value Fees.
46    F_VAL_MULTA                                       Fine Amount.
47    F_VAL_JUROS         Amount of Interest Charged on the Invoice.
48       F_VAL_TP                                Total Liquid Value.
49         TENSAO                 Voltage type of the Consumer Unit.
50        FPMEDIO                              Average Power Factor.
51        FCMEDIO                               Average Load Factor.

# To be continued